@model IEnumerable<FinalApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Product Name
            </th>
            <th>
                Purchase Date
            </th>
            <th>
               Expiration Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate, "{0:dd/MM/yyyy}")
            </td>
            <td @if ((item.ExpirationDate - DateTime.Now).TotalDays < 7) { <text>style="color: red"</text> }>
                @Html.DisplayFor(modelItem => item.ExpirationDate, "{0:dd/MM/yyyy}")
        </td>

        <td>

            <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
            @Html.ActionLink("Delete", "Delete", new {ProductId = item.ProductId})
        </td>

    </tr>
}
    </tbody>
</table>
